@import "../dist/css/sb-admin-2.css";
@import "../vendor/metisMenu/metisMenu.css";
@import "../vendor/morrisjs/morris.css";
@import "../vendor/startbootstrap-sb-admin-2-gh-pages/scss/sb-admin-2";
@import "../vendor/startbootstrap-sb-admin-2-gh-pages/vendor/fontawesome-free/css/all.min.css";


a {
	color: #4e73df !important;
	cursor: pointer;
}

.hidden {
  display: none;
}

.create-form-button {
  float: right;
  margin-bottom: 15px;
}

.create-form-header {
	display: flex;
	flex-direction: row;
	/*justify-content: space-between;*/
}

.new-form-panel-body {
	padding: 19px !important;
}

.test {
	background: lightgreen;
}

.save-form-button {
	margin-left: 20px;
}

.form-component-label {
	cursor: grabbing;
}

.edit-form-component-field-label {
	margin-top: 10px;
}

.form-component-link {
	cursor: default;
}

.loader {
	border: 8px solid #f3f3f3;
    border-top: 8px solid #4e73df;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.view-published-form {
	display: block;
}

.drag-components-here {
	text-align: center;
	border: 1px dotted gray;
	border-radius: 5px;
	padding: 30pt;
	margin-top: 10pt;
}

.submission-field-label {
	font-weight: bold;
	margin-top: 10px;
}

