
.hidden {
  display: none;
}

.create-form-button {
  float: right;
  margin-bottom: 15px;
}

.create-form-header {
	display: flex;
	flex-direction: row;
	/*justify-content: space-between;*/
}

.create-form-input-area {
	display: flex;
}

.new-form-panel-body {
	padding: 19px !important;
}
